.loader-container{

min-height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#f8fafc;

}



.loader{

width:70px;

height:70px;

position:relative;

}



.loader div{

position:absolute;

width:16px;

height:16px;

background:#2563eb;

border-radius:50%;

animation:loaderAnimation 1.2s linear infinite;

}



.loader div:nth-child(1){

top:0;

left:27px;

}



.loader div:nth-child(2){

top:27px;

right:0;

animation-delay:.3s;

}



.loader div:nth-child(3){

bottom:0;

left:27px;

animation-delay:.6s;

}



.loader div:nth-child(4){

top:27px;

left:0;

animation-delay:.9s;

}





@keyframes loaderAnimation{


0%{

transform:scale(1);

opacity:1;

}


50%{

transform:scale(.5);

opacity:.5;

}


100%{

transform:scale(1);

opacity:1;

}


}





.loader-container h3{

margin-top:25px;

font-size:20px;

color:#2563eb;

font-weight:600;

}