/* ================= PRODUCT CARD ================= */


.product-card{


background:white;

border-radius:22px;

padding:18px;

position:relative;

overflow:hidden;

box-shadow:

0 8px 25px rgba(0,0,0,0.08);

transition:.35s ease;


}




.product-card:hover{


transform:translateY(-10px);


box-shadow:

0 15px 35px rgba(0,0,0,0.15);


}





/* Image */


.product-card img{


width:100%;

height:230px;

object-fit:cover;

border-radius:18px;

transition:.4s;


}



.product-card:hover img{


transform:scale(1.05);


}






/* Discount Badge */


.discount{


position:absolute;

top:15px;

left:15px;


background:#ef4444;

color:white;


padding:7px 14px;


border-radius:30px;


font-size:13px;


font-weight:700;


z-index:2;


}







/* Product Title */


.product-card h3{


margin:18px 0 8px;


font-size:21px;


color:#1e293b;


font-weight:700;


}






/* Rating */


.rating{


color:#f59e0b;


font-size:15px;


margin-bottom:10px;


}






/* Price */


.price-box{


display:flex;

align-items:center;

gap:10px;

margin:12px 0;


}



.product-card p{


font-size:23px;


font-weight:800;


color:#2563eb;


margin:0;


}



.product-card del{


font-size:14px;


color:#94a3b8;


}







/* Buttons */


.product-actions{


display:flex;

gap:12px;

margin-top:18px;


}



.product-actions button{


flex:1;


padding:13px;


border:none;


border-radius:12px;


cursor:pointer;


background:#2563eb;


color:white;


font-size:15px;


font-weight:600;


transition:.3s;


}





.product-actions button:hover{


background:#1d4ed8;


transform:translateY(-3px);


}






/* Wishlist */


.wishlist-btn{


max-width:50px;


background:#ef4444 !important;


font-size:18px !important;


}





.wishlist-btn:hover{


background:#dc2626 !important;


}








/* Details Button */


.product-card a{


display:block;


text-align:center;


margin-top:15px;


padding:12px;


border-radius:12px;


text-decoration:none;


background:#f1f5f9;


color:#334155;


font-weight:700;


transition:.3s;


}





.product-card a:hover{


background:#e2e8f0;


color:#2563eb;


}







/* Mobile */


@media(max-width:600px){


.product-card img{


height:200px;


}



.product-card h3{


font-size:18px;


}



.product-card p{


font-size:20px;


}


}